<!-- DIV component that will show all current entries -->
<div class="container">
	<h1>Classy-Schedule Web Interface Prototype</h1>
	<h2>Database Team Monday Meeting (2/27/22)</h2>
	<p>Description: Add, modify, and remove courses from the list below. Uses test database on our Azure MySQL server "classy-schedule-server".</p>

	<!--
	<form onsubmit="internalCall()">
		<p>Host:</p><input type="text" name="host" id="host" value="classy-schedule-database.mysql.database.azure.com" required>
		<p>User:</p><input type="text" name="user" id="user" value="" required>
		<p>Password:</p><input type="text" name="password" id="password" value="" required>
		<p>Database:</p><input type="text" name="database" id="database" value="ben_web_app_test" required>
		</br></br>

		<button type="submit" id="submit">Connect to Database</button>
	</form>
	</br>

	<script>
		function internalCall(){
			var host = document.getElementById('host').value;
			var user = document.getElementById('user').value;
			var password = document.getElementById('password').value;
			var database = document.getElementById('database').value;

			tryConnection(host, user, password, database);
		}
	</script>
	-->

	<hr>
	<form method="POST" action="/" >
		<input type="text" name="task" id="task" required>
		<button type="submit" id="submit">Add Course</button>
	</form>
	<div id="tasks_container">
		 <ul>
				{{#each items}}
				{{#if (isCompleted status)}}
				<li class="completed">{{task}}</li>
				<a href="/{{task_id}}"><i class="fa fa-trash"></i></a><a href="/ongoing/{{task_id}}">Mark it as ongoing</a>
				{{else}}
				<li class="ongoing">{{task}}</li>
				<a href="/{{task_id}}"><i class="fa fa-trash"></i></a><a href="/completed/{{task_id}}">Mark it as complete</a>
				{{/if}}
				{{/each}}
		 </ul>
	</div>
</div>
